body {
    background-color: #f7f4f4;
}

img {
    height: 150px;
}

h1 {
    text-transform: uppercase;
    color: #865f71;
    text-shadow: 2px 2px #d6cece;
}

h3 {
    text-transform: uppercase;
    color: #b695a4;
    text-shadow: 2px 2px #e9dddd;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(190, 190, 190);
    border-width: 5px;
    width: 3%;
}

.size {
    text-size-adjust: 16px;
}
